version: '3.8'

services:
  # Database PostgreSQL
  postgres:
    image: postgres:17.6
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: bugBoard
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Backend Express
  # backend:
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   container_name: express_backend
  #   environment:
  #     NODE_ENV: development
  #     PORT: 3000
  #     DB_HOST: postgres
  #     DB_PORT: 5432
  #     DB_USER: myuser
  #     DB_PASSWORD: mypassword
  #     DB_NAME: mydb
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - ./backend:/app
  #     - /app/node_modules
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   networks:
  #     - app-network
  #   command: npm run dev

  # # Frontend Angular
  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   container_name: angular_frontend
  #   ports:
  #     - "4200:4200"
  #   volumes:
  #     - ./frontend:/app
  #     - /app/node_modules
  #   depends_on:
  #     - backend
  #   networks:
  #     - app-network
  #   command: npm start

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge