/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Rimuovi padding e background di default di Material */
.custom-dialog-container .mat-mdc-dialog-container {
  padding: 0 !important;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Rimuovi il background bianco di default */
.custom-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
}

/* Backdrop scuro */
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.5);
}